In [2]:
import pandas as pd

In [4]:
num_min_in_period = 20

full_df = pd.DataFrame(columns=["n", "k", "n_choose_k"])
full_df.to_pickle("full_df.pkl")

for i in range(0, num_min_in_period):
    # Load partial df
    n_start = i * 60
    n_end = (i + 1) * 60
    partial_df_path = f"partial_dfs/df_{str(n_start)}-{str(n_end)}.pkl"
    partial_df = pd.read_pickle(partial_df_path)
    if i != num_min_in_period - 1:
        # Leave out the last minute of data so we don't duplicate
        partial_df = partial_df[partial_df["n"] != n_end]

    # Combine with full df
    full_df = pd.concat([full_df, partial_df], ignore_index=True)

full_df = full_df.drop_duplicates()

# Set indices for faster accession
full_df["new_index"] = full_df["n"] * 1201 + full_df["k"]
full_df.set_index("new_index", inplace=True)
full_df.sort_index(inplace=True)

# Display and save
display(full_df)
full_df.to_pickle("precomputed_combinations_df.pkl")

              n     k   n_choose_k
new_index
0             0     0            1
1201          1     0            1
1202          1     1            1
2402          2     0            1
2403          2     1            2
...         ...   ...          ...
1442396    1200  1196  85968659700
1442397    1200  1197    287280400
1442398    1200  1198       719400
1442399    1200  1199         1200
1442400    1200  1200            1

[721801 rows x 3 columns]

## Example useage:

In [5]:
comb_df = pd.read_pickle("../precompute_combinations/precomputed_combinations_df.pkl")

def choose(n, k):
    index = n * 1201 + k
    return comb_df.at[index, "n_choose_k"]

# Testing
assert choose(5, 3) == 10
assert choose(10, 5) == 252